.input_field {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.icon {
    position: absolute;
    right: 35px;
    margin-left: 5px;
    width: 17px !important;
    height: 17px !important;
    transition: all 0.2s ease-out;
    &:hover {
        transition: all 0.2s ease-in;
        transform: scale(1.2);
    }
}

.active_account {
    transform: scale(1.03);
    background-color: $gray;
    .icon {
        right: 15px;
    }
}