.accounts-menu_container {
    z-index: 5;
    text-align: left;
    opacity: 1;
    padding-top: 5em;
    transition: all .3s ease-in;
    width: 32%;
    background-color: darken($white, 60%);
    // @media screen and (max-width: 600px) {
    //     right: 30%;
    //     text-align: center;
    //     top: 0;
    //     padding-top: 1em;
    // }
}

.title {
    color: $white;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 300;
    // @media screen and (max-width: 600px) {
    //     max-width: 500px;
    // }
    z-index: 1;
}

.twitter_account {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px 8% 72px 7%;
    font-size: 1vw;
    z-index: 1;
    text-align: center;
    background-color: transparent;
    .action {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1vw;
        padding-right: 0.5vw;
        padding-top: 0.6vw;
        padding-bottom: 0.6vw;
        border: solid 1px white;
        border-radius: 50px;
        transition: all .8s ease-in;
        color: white;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: color .2s ease-in;
        &:hover {
            background-color: $primary-blue;
            transition: all .2s ease-in, color .8s ease-in;
            // color: $gray;
        }
        // @media screen and (max-width: 600px) {
        //     font-size: 2.5vw;
        // }
    }
    // @media screen and (max-width: 600px) {
    //     margin-top: 60px;
    //     margin-left: 20%;
    //     height: 29px;
    //     width: 50%;
    // }
}